@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="rvrdfqSPvhSS1fbVL2I6uBhSw2-HGiNWKajzUidqe98" />
    <meta name="description" content="SwiftSpecBuild lets you instantly generate a web application from OpenAPI YAML specifications. Includes full project code and automated test cases.">
    <meta name="keywords" content="generate web application from yaml, openapi to web app, asp.net core generator, swift spec build, auto generate mvc project">

    <title>@ViewData["Title"] - SwiftSpecBuild</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark shadow" style="background-color: #003366;">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">SwiftSpecBuild</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Registration/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Registration/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <!-- Footer -->
    <footer class="text-center text-lg-start border-top mt-5">

        <div class="container text-center py-3">
            <span>© 2025 - SwiftSpecBuild | Developed by <strong>Ambarish Roy</strong>, .NET Developer</span><br />
           
            <a href="https://www.linkedin.com/in/ambarish-roy-31231614b/" target="_blank">LinkedIn</a>  |
            <a href="https://github.com/ambarishroy" target="_blank">GitHub</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
